/* ========================== GLOBAL STYLES ==========================*/

* {
  box-sizing: border-box;
}


html {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
}

html, body{
    margin:0px;
    padding:0px;
}

body {
  

  background-color: #49404f;
  overflow-x: hidden;
  height:1200px;
  
}


img { 
  max-width: 100%; 
  background-size: cover;
  text-align:center;
}

/* ========================== GLOBAL STYLES ==========================*/


/* =========================== FONTS FONTS FONTS =====================*/


h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Verdana, sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

/*HAND WRITING UPPERCASE*/


/*h1 .opening {

  font-family: flood-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}
*/
h1.opening{
  color:#455059;
  /*color:#3D3D3D;*/
  font-family: "ff-enzo-web",sans-serif;
  font-style: normal;
  font-size:1.5em;
  font-weight: 600;

}


h2 {
      font-size: 18px;
      /*text-transform: uppercase;*/
      /*color: #303030;*/
      font-weight: 600;
      margin-bottom: 30px;

  }

h3 {
   line-height: 1.5px;
    font-size:1.5em ;
    color:#4F4F4F;
}

h4 {
      font-size: 1.2em;
      line-height: 1.375em;
      color: #4F4F4F;
      font-weight: 400;
      margin: 12px 15px 18px 21px;
      text-align:left;
  }


h2.quotation{
  font-size:1.2em;
  font-family: Roboto;
  font-weight:100;
  color:white;
  letter-spacing: 0.05em;
  text-align:right;
  display:inline-block;
  padding-right:0.5em;
  margin-right:5%;

}

h2.titulo {
  color:#1D1D30;
  font-weight: 500;
  font-family: Roboto;
  font-size:2.1em;
}

  
/*
div.fullWidth {
  width: 100%;
}

main {

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
*/


/* =====================FONTS FONT FONTS ============================*/

/*====================== HEADER BEGINNING HEADER =======================*/


.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

figure {
  margin: 15px 0;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 3px;
    }


.logo-img {
  background: url('../images/logo75.png') no-repeat;
  width: 75px;
  height: 75px;
  margin: 5px 5px 5px 2px;

}

#header-nav {
  background-color:#ffffa6;
  border-radius: 0;
  border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 1px;
  text-align:left;
}

#nav-list a {
  font-size: 1.2em;
  text-align: left;
  color:#263238;
}

#nav-list a:hover {
  
  background-color:#bbb5e2;

}

#nav-list a span {

  font-size:1.8em;
  align-content:center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #263238;
  background-color:#ddd;
  
}


.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
  margin-right:5%;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 1px;
    border-radius: 1px;
}


#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
  text-align:left;
}
#collapsable-nav a span { /* Collapsed nav menu glyph */
  font-size: 1em;
  margin-right: 5px;
  text-align:center;
}

.navbar-collapse {

  float:right;
  margin-top:0px;
  text-align:left;
}

.navbar-fixed-top .navbar-collapse {
    /*max-height: 65px;
    */ 
    max-width:100%;
}
/*====================== HEADER END HEADER =======================*/


#section{
  font-size:0.9em;
  height:1.5em;
  padding:.2em;
  margin:-120px 0px 1px 0px;
  text-align:right;
}

.jumbotron {
      
      color: #fff;
      margin: 0px 0px 0px 0px;
      padding: 50px 25px;
      /*font-family: Montserrat, sans-serif;*/
      padding-top:10%;
      font-family: flood-std, sans-serif;
      font-style: normal;
      font-weight: 400;
      background-size: contain;
      background-position: center
  }

.display{

  background-color: #7fb259 ;
/**/
}



}
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

}  


.col-sm-4 {
      text-align: center;
      margin: 25px 0;
}

.col-xs-12 .col-sm-4 .col-md-4{
      text-align: center;
      margin: 25px 0;
      font-size:0.8em;
}

/* ======================= CAROUSEL CAROUSEL CAROUSEL ========================*/

.pf-carousel {
  background-color: #F0FFE4;
  margin-right: 15px;
  margin-left: 15px;
  text-align:center;


  }

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #42233e;
}

.carousel-indicators li {
    border-color: #42233e;
}

.carousel-indicators li.active {
    background-color: #42233e;
}

.item h4 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    font-style: italic;
    margin: 35px 1px 1px 70px;
}

.item span {
  color:#1D1D30;
  font-weight: 300;
  font-family: Roboto;
  font-size:1em;
}

.spacer {
  margin: 35px 1px 1px 70px;

}





@media (min-width: 600px) {
  
  #section{
  height:1.5em;
  padding:.5em;
  margin:-120px 1px 0px 1px;
  text-align:right;
}



.jumbotron {
      
     
      margin: 0px 0px 0px 0px;
      padding: 50px 25px;
      
      padding-top:10%;
  }


  


}

@media (min-width: 768px) {


 
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
  }
  

.jumbotron {
      
      
      margin: 0px 0px 0px 0px;
      padding: 50px 25px;
      
      padding-top:10%;
  }
  



  .navbar-brand {
    float: left;
    height: 3.5em;
    padding: 1.5em;
    }

#header-nav {
  
  padding-top: 10px;
}
  
#section{
  font-size:1.2em;
  height:65px;
  padding:1px;
  margin:-130px 15px 0px 0px;
  text-align:right;

}

#offset{
  margin-top: 65px;
}

.objetivo {
  background-color: #F0FFE4;
  /*margin-right: 15px;
  margin-left: 15px;*/
  text-align:center;
  padding:15px 0px 10px 0px;
  



}


